
{% extends 'marketplace/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-QVzVRKZ1n5jyXV1+MXkJ+CUItF5+ZQTznbF5LIqP6pxaDU3Pl5+rxSvzM5MV0y/FVeDmQF+JEthFQl6NxFf3WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header>
    
    <img src="{% static 'images\farmers\hero1.png' %}" alt="Banner Image Description">
  </header>
<div class="container">
    <h1>Request Successful</h1>
    <p>Your request has been successfully submitted.</p>

    <p>Thank you for your cooperation. We look forward to fulfilling your equipment hire needs!</p>
    <p>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M0 11l2-2 5 5L18 3l2 2L7 20z"/>
  </svg>
</p>
    </div>
    <style>
      
        img {
            max-width: 100%; /* Ensure the image doesn't exceed its container width */
            height: auto; /* Maintain the image's aspect ratio */
            border-radius: 8px; /* Add rounded corners to the image */
        }

        h1, p{
          text-align: center;
        }
</style>
{% endblock %}