{% extends 'base.html' %}
{% load static %}
{% block title %}Alpha | AlphaEvents{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                {% include 'noticeboard/nb_sb.html' %}
                <div class="col-lg-9 pt-4">
                    {% include 'includes/alerts.html' %}
                    <h3>Trending event <i class="bi bi-fire"></i></h3>
                    <div class="card px-4 pt-2 pb-4 mx-auto mt-2 inner-card rounded" style="position: relative; width: 100%;">
                        <div class="overlay rounded" style="background-image: url('{{ most_popular.image_cover.url }}');"></div>
                        <div class="content">
                            <div class="d-flex align-items-center">
                                <img src="{{ most_popular.farmer.profile.profile_picture.url }}" class="rounded-circle" style="width: 50px;">
                                <h5 class="ml-2 text-white">{{ most_popular.farmer.first_name }} {{ most_popular.farmer.last_name }}</h5>
                            </div>
                            <p class="mt-3 mb-2 text-center"><i class="bi bi-clock"></i> &nbsp;{{ most_popular.date_time|date:"j F Y" }}</p>
                            <div class="d-flex justify-content-center align-items-center text-center" style="height: 100px;">
                                <h5 class="text-white">{{ most_popular.name }}</h5>
                            </div>
                            <div class="col-md-12 text-center">
                                <h6 class="badge badge-dark" style="width: 100%;">{{ most_popular.event_category.name }}</h6><br>
                                <a href="{% url 'event_details' event_id=most_popular.id %}" class="btn btn-secondary mb-2" style="width: 100%;"><span>View More</span></a>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center">All Events<i class="bi bi-geo"></i></h3>
                        <div class="container mb-3">
                            <label for="">Sort By</label>
                            <form id="sortForm" action="{% url 'noticeboard' %}" method="get">
                                <select name="sort" id="sort" onchange="submitForm()" class="form-control bg-white">
                                    <option value="-----" selected disabled>Sort Events</option>
                                    <option value="date_time" {% if sort == 'date_time' %}selected{% endif %}>Event Date</option>
                                    <option value="-date_time" {% if sort == '-date_time' %}selected{% endif %}>Event Date (Descending)</option>
                                    <option value="province" {% if sort == 'province' %}selected{% endif %}>Province</option>
                                    <option value="-province" {% if sort == '-province' %}selected{% endif %}>Province (Descending)</option>
                                    <option value="event_category__name" {% if sort == 'event_category' %}selected{% endif %}>Category</option>
                                    <option value="-event_category__name" {% if sort == '-event_category' %}selected{% endif %}>Category (Descending)</option>
                                </select>
                            </form>
                        </div>
                        <div class="row">
                            {% for event in events %}
                            <div class="col-md-4 mb-4">
                                <div class="card border-1">
                                    <div class="container">
                                        <div class="card px-4 pt-4 pb-4 mx-auto inner-card">
                                            <div class="d-flex align-items-center">
                                                <img src="{{ event.farmer.profile.profile_picture.url }}" class="rounded-circle" style="width: 50px; height: 50px;">
                                                <h5 class="ml-2">{{ event.farmer.first_name }} {{ event.farmer.last_name }}</h5>
                                            </div>
                                            <p class="mt-2"><i class="bi bi-clock"></i> &nbsp;{{ event.date_time|date:"j F Y"}}</p>
                                            <p class=""><i class="bi bi-map"></i> &nbsp;{{ event.province }} </p>
                                            <div class="d-flex justify-content-center align-items-center text-center" style="height: 100px;">
                                                <h5 class="text-left">{{ event.name }}</h5>
                                            </div>
                                            <h6 class="badge badge-dark">{{ event.event_category.name }}</h6>
                                            
                                            <a href="{% url 'event_details' event_id=event.id %}" class="btn btn-secondary mb-2"><span>View More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
                                {% if events.has_other_pages %}
                                <ul class="pagination">
                                    {% if events.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                    {% endif %}
                                    {% for i in events.paginator.page_range %}
                                        {% if events.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if events.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">Next</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>  
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <style>
        .card{
            width: 300px;
            border: none;
            border-radius: 10px;
        }
        .inner-card{
            border: 3px solid #eeeeee;   
        }
        @media (max-width: 992px) {
            .card_carousel .owl-nav {
                display: block;
                position: relative;
                top: 0;
            }
        }
        @media screen and (max-width: 384px){
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .row{
                text-align: center;
                line-height: 3;
                display: flex;
                justify-content: center;
            }
            .ml-auto{
                margin-left: 20px!important;
            }
        }
        .card_carousel .owl-nav {
            position: absolute;
            top: -10%;
            right: 0;
        }

        .card_carousel .owl-prev, .card_carousel .owl-next {
            width: 40px;
            height: 40px;
            background: #ffffff;
            border: 1px solid var(--secondary);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin: 0 5px;
            font-size: 30px;
            color: var(--secondary);
        }

        .list-group-item:hover i{
            color: white;
        }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: brightness(30%);
        /* Adjust the blur value */
    }

    .content {
        z-index: 1;
        color: #ffffff;
        padding: 20px;
    }
    </style>
    <script>
        function submitForm(){
            document.getElementById("sortForm").submit();
        }
    </script>
{% endblock %}