{% extends 'base.html' %} 
{% load static %} 
{% block title %}Alpha | Reset Password{% endblock %}
{% block content %}

    {% if request.GET.command == 'verification' %} 
        <div class=" container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top: 100px;">
        Almost done! Check your emails for activation link. {{request.GET.email}}
        <br><br>
        Already activated? <a href="{% url 'login' %}" >Login</a>
        </div>
    {% else %}
    <section class="bg-white p-3 p-md-4 p-xl-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
              <div class="card border-light-subtle shadow-sm">
                <div class="row g-0">
                  <div class="col-12 col-md-6">
                    <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="{% static 'images/farmers/1.png' %}" alt="Welcome back you've been missed!">
                  </div>
                  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <div class="col-12 col-lg-11 col-xl-10">
                      <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-5">
                              <div class="text-center mb-4">
                                <h1 class="text-dark display-4 logo">Reset Password</h1>
                              </div>
                              <h4 class="text-center">Type in your new password.</h4>
                            </div>
                          </div>
                        </div>
                        <form action="{% url 'reset_password' %}" method="post">
                          {% include 'includes/alerts.html' %}
                          {% csrf_token %}
                          <div class="row gy-3 overflow-hidden">
                            <div class="col-12">
                              <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="newPass" id="newPass" placeholder="name@example.com" required>
                                <label for="newPass" class="form-label">New Password</label>
                              </div>
                            </div>
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                  <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="reNewPass" id="reNewPass" placeholder="name@example.com" required>
                                    <label for="reNewPass" class="form-label">Re-enter New Password</label>
                                  </div>
                                </div>
                            <div class="col-12">
                              <div class="d-grid">
                                <button class="btn btn-dark btn-lg" type="submit">Submit</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    {% endif %}

{% endblock %}
