{% extends 'marketplace/base.html' %}
{% load static %}
{% block content %}

<div class="container">
   
    <h1> Buy Conversation </h1>

    <div class="messages-container">
        {% for message in chat.message.all %}
            <div class="message {% if message.created_by == request.user %}sent{% else %}received{% endif %}">
                <p class="meta-info">
                    {{ message.created_by.username }} @ {{ message.created_at }}
                </p>
                <p class="content">{{ message.content }}</p>
            </div>
        {% endfor %}
    </div>

</div>

<div class="chat-form-container">
    <form method="post" action="." class="chat-form">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <button class="btn-send">Reply</button>
    </form>
</div>

<style>
    nav {
        overflow: hidden;
      
        padding: 0.5em;
      }
      
      nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
      }
      
      nav ul li {
        display: inline;
      }
      
      nav ul li a {
        color: #333;
        text-decoration: none;
        position: relative;
      }
      
      nav ul li a.active::after {
        content: "";
        display: block;
        height: 1px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: inline;
        border-bottom: 1px solid #333;
      }
      

    h1 {
        color: #333;
        text-align: center;
    }

    .messages-container {
        margin-bottom: 20px;
        overflow-y: auto;
        max-height: 300px;
        border: 1px solid #ddd; /* Add a border around the messages container */
        border-radius: 5px;
        padding: 10px; /* Add some padding to the container */
        background-image: url('{% static "images/farmers/chatbg.png" %}');

 

    }

    .message {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        word-wrap: break-word;
        clear: both;
    }

    .sent {
        background-color: #116530;
        color: #fff;
        float: right;
    }

    .received {
        background-color: #D3BD71;
        color: #333;
        float: left;
    }

    .meta-info {
        font-size: 12px;
        color: #888;
        margin-bottom: 5px;
    }

    .content {
        font-size: 16px;
    }

    .chat-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .chat-form {
        display: flex;
        flex-direction: row;
    }

    .form-group {
        flex-grow: 1;
        margin-right: 10px;
    }

    .form-group textarea {
        width: 80%;
        height: 50px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .btn-send {
        background-color: #116530;
        height: 50px;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-send:hover {
        background-color: #D3BD71;
        ;
    }
</style>

{% endblock %}


