{% extends 'base.html' %}
{% load static %}
{% block title %}Alpha | Change Password{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        {% include 'user_dashboard/dashboard_sidebar.html' %}
        <div class="col-lg-8 pb-5">
            {% include 'includes/alerts.html' %}
            <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <div class="col-md-12 text-center">
                    <h4>Change Password</h4>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="current_password" id="current_password" required/>
                            <label style="color: black;">Current Password</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="new_password" id="new_password" required/>
                                <label style="color: black;">New Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="retype_new_password" id="retype_new_password" required/>
                                <label style="color: black;">Retype New Password</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-secondary mx-auto" style="width: 20%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
