{% extends 'base.html' %}
{% load static %}
{% block title %}Alpha | Edit Post{% endblock %}
{% block content %}

<header>
    <img src="{% static 'images\headers\1.png' %}" alt="Banner Image Description">
  </header>
<div class="container mt-5">
    <div class="row">
        {% include 'forum/forum_sidebar.html' %}
        <div class="col-lg-8 pb-5">
            {% include 'includes/alerts.html' %}
            <div class="col-md-12 text-center">
                <h2>Edit Forum Post</h2>
            </div>
            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                {{ form.media }}
                <button type="submit" class="btn btn-secondary">Create Post</button>
            </form>
        </div>
    </div>
</div>

<style>
    .django-ckeditor-widget {
        width: 100%;
    }

    img {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        height: auto; /* Maintain the image's aspect ratio */
        border-radius: 8px; /* Add rounded corners to the image */
    }
</style>
{% endblock %}